doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href=getStatic("/sass/main.sass"))
		title Carbon
	body
		main.main
			form
				div
					label(for="login") Username
					input(type="text" name="login" autocomplete="username" placeholder="example:matrix.org" required)#login
				div
					label(for="password") Password
					input(type="text" name="password" autocomplete="current-password" required)#password
				div

					label(for="homeserver") Homeserver
					input(type="text" name="homeserver" value="matrix.org" required)#homeserver
				div
					input(type="submit" value="Login")
